.chatIcon {
    position: fixed; 
    left: -15px;
    top: 10px;
    height: 30px;
    font-size: 3rem;
    z-index: 999;
}

.chatIcon button {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    padding: 20px;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .chatIcon { 
        left: -10px;
        bottom: 50px;
        font-size: 2.75rem;
    }
}