:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --primary-color: #edf2fc;
  --secondary-color: #000024;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-color);
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  min-height: 300px;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(255 255 255 / 95%); */
}

.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}

.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
  height: 0;
}

.stats .box::before {
  top: 0;
  right: 0;
}

.stats .box::after {
  left: 0;
  bottom: 0;
}

.stats .box:hover {
  opacity: 1;
}

.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}

.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

.w\-full {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tech {
  width: 30%;
}

.custom {
  width: 100%;
}