:root {
  --primaryFont: "Public Sans", sans-serif;
  /* --primaryFont: 'Montserrat', sans-serif; */
  /* --primaryFont: 'Raleway', sans-serif; */
}

* {
  transition: all 0.5s;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--primaryFont);
}