

@font-face {
  font-family: 'BestermindRegular';
  src: url('./assets/fonts/Bestermind/BestermindRegular.ttf'); 
  src: url('./assets/fonts/Bestermind/BestermindRegular.ttf') format('embedded-opentype'), 
       url('./assets/fonts/Bestermind/BestermindRegular.ttf')  format('truetype'), 
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  transition: all 0.5s;
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}


/* scrollBar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #555;
}
::-webkit-scrollbar-thumb {
    background: #555;
  border-radius: 10px;
  transition: 0.3s;
}

img{
  -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none; 

}


@media screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    body {
      overflow-x: hidden;
    }
}

.experience-details h6 {
  color: #000061;
}